language: java
jdk:
  - oraclejdk9
before_install:
  - chmod +x gradlew
before_script:
  - chmod +x gradlew
script:
  - ./gradlew check
  - ./gradlew jacocoTestReport
after_success:
  - bash <(curl -s https://codecov.io/bash)